.likeDislike{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    margin-top: 1rem;
}

.likeDislike_content{
    display: flex;
    gap: 3rem;
}

.likeDislike span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.likeDislike button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.likeDislike button:hover{
    opacity: 70%;
}

.likeDislike button:active{
    opacity: 35%;
}